table, th, td{
    border:1px solid black;
    text-align: center;
  }
  






/* Tamaño movil (hasta 768px) */
@media only screen and (max-width:768px) {
  div.lateralIzq{
      display: none;
  }
  div.lateralDer{
      display: none;
  }
}



/* Tamaño tablet (Desde 768px hasta 1024px) */
@media only screen and (max-width:1024px) {
  
}



/* Pantallas a partir de 1024px  */
@media only screen and (min-width: 1024px) {
  

}



  
