h1{
    font-size: 300%;
    text-align: center;
}

h2{
    text-align: center;
}

#PortadaMH3{
    width: 150px; 
    height:90px;
    float: left;
    margin-right: 10px;
    box-shadow: 10px;
    border-radius: 10px;
    object-fit: cover;
}

#PortadaMH4{
    width: 150px;
    height: 90px;
    float: right;
}

p{
    float:inline-end;
}







/* Tamaño movil (Desde 360px hasta 400px) */
@media only screen and (min-width:360px) and (max-width:400px) {
    
}



/* Tamaño tablet (Desde 768px hasta 1024px) */
@media only screen and (min-width:768px) and (max-width:1024px) {
    
}



/* Pantallas a partir de 1024px  */
@media only screen and (min-width: 1024px) {
    

  }



  





