table, th, td{
  border:1px solid black;
  text-align: center;
}

.TablaArmadura > table{
  width: 1250px;
  height: 300px;
}

.TablaArmadura{
    padding: 20px;
  }

td > img{
width: 256px;
height: 256px;
}

th,td{
    width: 200px;
}

th{
    background-color:#003f72;
    color: rgba(255, 255, 0, 0.956);
    font-weight: bolder;
}

td{
    background-color:#2886b8 ;
}

div.Subindice{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 148px;
}

th > a{
  color: white;
}

th > a:hover{
  color: yellow;
}

.centro{
  padding-bottom: 100px;
}

.encabezado{
  height: 50px;
}

h2{
  text-align: center;
}




/* Tamaño movil (hasta 768px) */
@media only screen and (max-width:768px) {
  div.lateralIzq{
      display: none;
  }
  div.lateralDer{
      display: none;
  }
}



/* Tamaño tablet (Desde 768px hasta 1024px) */
@media only screen and (max-width:1024px) {
  
}



/* Pantallas a partir de 1024px  */
@media only screen and (min-width: 1024px) {
  

}



  


